.button {
    margin-left: 20px;
    width: fit-content;
    border: none;
    outline: 0;
    background: none;
    cursor: pointer;
}

.button>span {
    font-size: 38px;
    line-height: 0;
    color: var(--subTitle);
}